{{!-- <div class="wrapper"> --}}
    <header class="wrapper__header">
        <nav class="navbar wrapper__nav nav">
            <ul class="navbar-menu nav__list">
                <li class="navbar-item nav__item">
                    <a href="#">
                        O warsztatach
                    </a>
                </li>
                <li class="navbar-item nav__item">
                    <a href="#">
                        Nadchodzące live'y
                    </a>
                </li>
                <li class="navbar-item nav__item">
                    <a href="#">
                        Kontakt
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="wrapper__main">
        main
    </main>
    <footer class="wrapper__footer">
        footer
    </footer>
{{!-- </div> --}}