<h2>
    O co chodzi? 
</h2>
<h4>
    Chcesz zosta programist?
</h4>
<p>
    Przeszede jaki kurs, lub przeczytae ksi偶k o Front-endzie, ale nie wiesz co dalej? <strong>Korki z Front-endu</strong> bd dla Ciebie idealne. Przerobimy na nich materia, kt贸ry trzeba ogarn przed rozpoczciem pracy jako junior front-end developer.
</p>
<h4>
    Korki z Front-endu to formua, w kt贸rej to Ty tworzysz program szkolenia
</h4>
<p>
    Dziki formule transmisji na 偶ywo, ka偶dy z uczestnik贸w szkolenia ma realny wpyw na materia, jaki przerobimy. Jedyna ingerencja z mojej strony to okrelenie, czy jest to dobry kierunek oraz czy to, czego chcecie si nauczy przyda Wam si w przyszoci.
    <br><br>
    Moim jedynym celem jest faktyczne nauczenie Ci materiau, kt贸ry naprawd przyda Ci si w realnych projektach. A przed Tob ogrom projekt贸w, kt贸re bdziesz robi najpierw jako <strong>junior</strong> a p贸藕niej <strong>mid</strong> czy <strong>senior</strong> developer</strong>.
</p>
<h4>
    Co, gdzie, jak?
</h4>
<p>
    讹 <strong>Co?</strong> Format szkole to transmisje na 偶ywo, trwajce od godziny do dw贸ch.
    <br><br>
    猡碉 <strong>Gdzie?</strong> Na moim <a href="https://t2m.io/x01RwXQJ">kanale na YouTube</a>.
    <br><br>
     <strong>Jak?</strong> Zdalnie.
</p>
<h2>
    Dlaczego to takie super? 
</h2>
<h4>
    Poniewa偶 sam byem na Twoim miejscu
</h4>
<p>
    Jestem samoukiem, kt贸ry zaczyna dokadnie tak jak Ty. Moje dowiadczenie sprawia, 偶e wiem dokadnie co bdzie Ci potrzebne by wbi si w rynek i rozpocz swoj pierwsz prac w IT.
</p>
<h4>
    Poniewa偶 sam jestem programist aktywnym zawodowo
</h4>
<p>
    Materia jest dopasowany do najnowszych trend贸w i zapotrzebowania rynku pracy. Dziki temu nie tracisz czasu na nauk czego, co p贸藕niej Ci si nie przyda.
</p>
<h4>
    Poniewa偶 format Kork贸w z Front-endu jest lu藕ny
</h4>
<p>
    Nie usyszysz na nich super-skomplikowanych s贸w, a je偶eli ju偶, to od razu Ci je wytumacz. Zawsze zachcam do zgaszania si i zadawania pyta - midzy innymi po to tu jestem.
</p>
<h4>
    Poniewa偶 naprawd najbardziej zale偶y mi na Twoim rozwoju
</h4>
<p>
    Poza streamami, jestem do Twojej dyspozycji na <a href="https://t2m.io/v2FaNHR5">Discordzie</a> i chtnie pomog.
</p>
<h2>
    Harmonogram 
</h2>
<div class="schedule">
    <div class="schedule__item card card--next">
        <div class="card-header">
            <h6 class="card-header-title card__title">
                roda, 26.08.2020, g. 18:00-19:30
            </h6>
        </div>
        <p class="content card__content">
            Kontynuacja HTML i CSS z poprzednich zaj. Oceni Wasz kod oraz razem dodamy responsywno do headera.
        </p>
        <div class="card-footer card__footer">
            <a class="card-footer-item card__link" href="https://t2m.io/x01RwXQJ">
                Link do transmisji
            </a>
        </div>
    </div>
    <div class="schedule__item card">
        <div class="card-header">
            <h6 class="card-header-title card__title">
                roda, 02.09.2020, g. 18:00-19:30
            </h6>
        </div>
        <p class="content card__content">
            TBA
        </p>
        <div class="card-footer card__footer">
            <a class="card-footer-item card__link" href="https://t2m.io/x01RwXQJ">
                Link do transmisji
            </a>
        </div>
    </div>
</div>
<div class="copyright">
    <p>
        &copy; <a href="https://t2m.io/uq52uJPC">sors Micha Trykoszko</a> | since 2020
    </p>
</div>
