<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- GTM --}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T3LKSG8');</script>

    {{!-- seo --}}
    <title>Korki z Front-endu - szkolenie w postaci transmisji na żywo</title>
    <meta name="title" content="Korki z Front-endu - szkolenie w postaci transmisji na żywo">
    <meta name="description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
    <meta name="author" content="sors Michal Trykoszko">
    <meta name="keywords" content="HTML,CSS,JS,JavaScript,programowanie,frontend,front-end">

    {{!-- og: --}}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://korkizfrontendu.pl/">
    <meta property="og:title" content="Korki z Front-endu - szkolenie w postaci transmisji na żywo">
    <meta property="og:description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
    <meta property="og:image" content="/static/img/og.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://korkizfrontendu.pl/">
    <meta property="twitter:title" content="Korki z Front-endu - szkolenie w postaci transmisji na żywo">
    <meta property="twitter:description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
    <meta property="twitter:image" content="/static/img/og.png">

    <link rel='stylesheet' href='/static/build/bundle.css' />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    {{!-- GTM --}}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3LKSG8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <main class="main">
      <div class="main__col banner" style="background-image:url('/static/img/bg.jpeg');">
        <div class="banner__content">
          <img class="banner__logo" src="/static/img/icon_code.svg" alt="Korki z Front-endu" />
          <h1 class="banner__title">
            <span>Korki z</span> <br><span>Front-endu</span>
          </h1>
          {{!-- <h3 class="banner__subtitle">
            Michał Trykoszko
          </h3> --}}
          <ul class="banner__icons">
            <li class="banner__icon">
              <a href="https://t2m.io/x01RwXQJ">
                <img src="../static/img/youtube.svg" alt="Korki z Front-endu - YouTube" />
              </a>
            </li>
            <li class="banner__icon">
              <a href="https://t2m.io/fotzFSo6">
                <img src="../static/img/facebook.svg" alt="Korki z Front-endu - Facebook" />
              </a>
            </li>
            {{!-- <li class="banner__icon">
              <img src="../static/img/instagram.svg" alt="Korki z Front-endu - Instagram" />
            </li>
            <li class="banner__icon">
              <img src="../static/img/linkedin.svg" alt="Korki z Front-endu - LinkedIn" />
            </li> --}}
          </ul>
        </div>
        <video class="banner__video" autoplay loop muted height="220" width="390">
          <source src="./static/img/code.mp4" type="video/mp4">
        </video>
      </div>
      <div class="main__col main__col--wide wrapper">
        {{!-- <div class="wrapper"> --}}
          {{!-- <header class="wrapper__header">
              <nav class="navbar wrapper__nav nav">
                  <ul class="navbar-menu nav__list">
                      <li class="navbar-item nav__item">
                          <a href="#">
                              O warsztatach
                          </a>
                      </li>
                      <li class="navbar-item nav__item">
                          <a href="#">
                              Nadchodzące live'y
                          </a>
                      </li>
                      <li class="navbar-item nav__item">
                          <a href="#">
                              Kontakt
                          </a>
                      </li>
                  </ul>
              </nav>
          </header> --}}
          <main class="wrapper__main content">
              {{{body}}}
          </main>
          {{!-- <footer class="wrapper__footer">
              footer
          </footer> --}}
        {{!-- </div> --}}
      </div>
    </main>
    <script src="/static/build/app.js"></script>
  </body>
</html>
