<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/static/build/bundle.css' />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
  </head>
  <body>
    <main class="main">
      <div class="main__col banner" style="background-image:url('/static/img/bg.jpeg');">
        <div class="banner__content">
          <img class="banner__logo" src="/static/img/icon_code.svg" alt="Korki z Front-endu" />
          <h1 class="banner__title">
            <span>Korki z</span> <br><span>Front-endu</span>
          </h1>
          {{!-- <h3 class="banner__subtitle">
            Michał Trykoszko
          </h3> --}}
          <ul class="banner__icons">
            <li class="banner__icon">
              <a href="https://t2m.io/x01RwXQJ">
                <img src="../static/img/youtube.svg" alt="Korki z Front-endu - YouTube" />
              </a>
            </li>
            <li class="banner__icon">
              <a href="https://t2m.io/fotzFSo6">
                <img src="../static/img/facebook.svg" alt="Korki z Front-endu - Facebook" />
              </a>
            </li>
            {{!-- <li class="banner__icon">
              <img src="../static/img/instagram.svg" alt="Korki z Front-endu - Instagram" />
            </li>
            <li class="banner__icon">
              <img src="../static/img/linkedin.svg" alt="Korki z Front-endu - LinkedIn" />
            </li> --}}
          </ul>
        </div>
        <video class="banner__video" autoplay loop muted height="220" width="390">
          <source src="./static/img/code.mp4" type="video/mp4">
        </video>
      </div>
      <div class="main__col main__col--wide wrapper">
        {{!-- <div class="wrapper"> --}}
          {{!-- <header class="wrapper__header">
              <nav class="navbar wrapper__nav nav">
                  <ul class="navbar-menu nav__list">
                      <li class="navbar-item nav__item">
                          <a href="#">
                              O warsztatach
                          </a>
                      </li>
                      <li class="navbar-item nav__item">
                          <a href="#">
                              Nadchodzące live'y
                          </a>
                      </li>
                      <li class="navbar-item nav__item">
                          <a href="#">
                              Kontakt
                          </a>
                      </li>
                  </ul>
              </nav>
          </header> --}}
          <main class="wrapper__main content">
              {{{body}}}
          </main>
          {{!-- <footer class="wrapper__footer">
              footer
          </footer> --}}
        {{!-- </div> --}}
      </div>
    </main>
    <script src="/static/build/app.js"></script>
  </body>
</html>
