<main class="main">

    <section class="hero-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 hero">
                    <h1 class="h1">
                        Naucz się
                        <br>
                        <span class="text-switcher font-weight-bold">tworzyć strony internetowe</span>
                        <br>
                        z doświadczonym mentorem
                    </h1>
                </div>
            </div>
        </div>
        <div class="hero-wrapper-bg"></div>
    </section>

</main>
