<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- GTM --}}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T3LKSG8');</script>

{{!-- seo --}}
<title>{{title}}</title>
<meta name="title" content="{{title}}">
<meta name="description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
<meta name="author" content="sors Michal Trykoszko">
<meta name="keywords" content="HTML,CSS,JS,JavaScript,programowanie,frontend,front-end">

{{!-- og: --}}
<meta property="og:type" content="website">
<meta property="og:url" content="https://korkizfrontendu.pl/">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
<meta property="og:image" content="/static/img/og.png">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://korkizfrontendu.pl/">
<meta property="twitter:title" content="Korki z Front-endu - szkolenie w postaci transmisji na żywo">
<meta property="twitter:description" content="HTML, CSS i JS już nigdy nie będą dla Ciebie utrapieniem! Naucz się tworzyć strony internetowe z mentorem.">
<meta property="twitter:image" content="/static/img/og.png">

<link rel='stylesheet' href='/static/build/bundle.css' />
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
