<form class="newsletter-form" action="/" method="POST">
    <label class="newsletter-form__row">
        <p>
            Twój e-mail
        </p>
        <input type="email" name="email" placeholder="Wpisz e-mail" />
    </label>
    <label class="newsletter-form__row">
        <p>
            Twoje imię
        </p>
        <input type="text" name="name" placeholder="Wpisz imię" />
    </label>
    <div class="newsletter-form__row">
        <button type="submit">
            Wyślij
        </button>
    </div>
</form>
